/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-font;
  color: $black-color;
  font-weight: $font-regular;
  background-color: $bg-color;
}

img {
  width: 100%;
  object-fit: cover;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1620px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.btn {
  background-color: $primary-color;
  border: 1px solid #303030;
  border-radius: 45px;
  color: $title-color;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: $first-color;
}

.section__title {
  font-weight: $font-extra-bold;
  font-size: 128px;
  line-height: 90%;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .section__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 425px) {
  .section__title {
    font-size: 40px;
  }
}
