/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
.header {
  background-color: #fff5ee;
  border-bottom: 1px solid #303030;
  padding: 10px 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  width: 192px;
  height: 100%;
}
.header__content {
  display: flex;
  align-items: center;
}
.header__link {
  font-size: 20px;
  color: #303030;
  padding: 20px 30px;
}

.btn-menu {
  display: none;
  width: 35px;
  height: 35px;
  font-size: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav {
  margin-right: 150px;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 48px;
}
.nav__item {
  position: relative;
}
.nav__link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}
.nav__link:hover {
  color: #5dc999;
  transition: all 0.3s ease-in-out;
}
.nav__item-wrap {
  position: absolute;
  top: calc(100% + 5px);
  left: -10px;
  background-color: #5dc999;
  border: 1px solid #303030;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  overflow: hidden;
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.nav__item-wrap_active {
  display: block;
  opacity: 1;
}
.nav__item-wrap li {
  padding: 10px;
}
.nav__item-wrap li:hover {
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .header__link {
    font-size: 18px;
  }
  .nav {
    margin-right: 38px;
  }
  .nav__list {
    gap: 38px;
  }
  .nav__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .header__logo {
    width: 150px;
  }
  .header__link {
    font-size: 16px;
    padding: 10px 15px;
  }
  .nav {
    margin-right: 18px;
  }
  .nav__list {
    gap: 18px;
  }
  .nav__link {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .header__content {
    padding: 20px;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: calc(100% + 25px);
    right: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #303030;
    border-radius: 45px;
  }
  .header__content_active {
    right: 5px;
    opacity: 1;
  }
  .btn-menu {
    display: block;
  }
  .nav {
    margin-bottom: 20px;
  }
  .nav__list {
    flex-direction: column;
    align-items: start;
  }
  .nav__item {
    padding: 10px 20px;
  }
  .nav__link:hover {
    color: #fff5ee;
    transition: all 0.3s ease-in-out;
  }
}
.title {
  background-color: #fff5ee;
  padding: 40px 0;
  border-bottom: 1px solid #303030;
}

.hero {
  background-color: #fff5ee;
  border-bottom: 1px solid #303030;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__content {
  padding: 50px 0;
  border-right: 1px solid #303030;
}
.hero__title {
  max-width: 993px;
  font-weight: 800;
  font-size: 54px;
  line-height: 90%;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 40px;
  margin-right: 10px;
}
.hero__title span {
  color: #5dc999;
}
.hero__btn {
  cursor: pointer;
  padding: 20px 30px;
  font-weight: 400;
  font-size: 20px;
}
.hero__pic {
  margin: 50px;
  max-width: 30%;
  width: 100%;
  background-color: #75FBC0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .hero__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .hero__content {
    padding: 20px 0;
  }
  .hero__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .hero__pic {
    margin: 20px;
  }
  .hero__btn {
    padding: 15px;
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .hero__container {
    flex-direction: column;
  }
  .hero__content {
    border-right: none;
    border-bottom: 1px solid #303030;
  }
  .hero__title {
    font-size: 26px;
  }
  .hero__pic {
    max-width: 100%;
    width: auto;
  }
  .hero__btn {
    font-size: 16px;
  }
}
.partners {
  padding: 150px 0;
  background-color: #fff5ee;
}
.partners__list {
  display: flex;
  justify-content: space-between;
}
.partners__item {
  max-width: 155px;
}

@media screen and (max-width: 1200px) {
  .partners {
    padding: 100px 0;
  }
}
@media screen and (max-width: 768px) {
  .partners {
    padding: 60px 0;
  }
}
@media screen and (max-width: 425px) {
  .partners {
    padding: 30px 0;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 400;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1620px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  background-color: #75FBC0;
  border: 1px solid #303030;
  border-radius: 45px;
  color: #303030;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #5dc999;
}/*# sourceMappingURL=style.css.map */